@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --tracking-tighter: -0.06em;
  --tracking-extra-tighter: -0.1em;
  --leading-extra-tight: 0.8;
  --leading-tight-phone: 0.2;
}

:root {
  --background: #D8A7B1;
  --foreground: #333333;
  --cursor-default: #333333;
  --cursor-hover: #D8A7B1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #D8A7B1     ;
    --foreground: #252525    ;
  }
}

*{
  cursor: none;
  box-sizing: border-box;
}

a{
  cursor: none;
}
 
html{
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow: none;
}

::selection {
  background-color: #fff8c1; /* Change this to your desired color */
  color: #000; /* Text color when selected */
}

a:hover{
  color: #fff8c1   ;
}

button:hover{
  cursor: none;
}


/* Default scrollbar size to prevent layout shift */
::-webkit-scrollbar {
  width: 0px;
  border-radius: 8px;
  transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

/* Hide scrollbar thumb when idle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 8px;
  transition: background 0.5s ease-in-out;
}

/* Show scrollbar when scrolling */
.scrolling ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #928DAB; /* Scrollbar color */
}

.margin{
  margin-bottom: 2px;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #252525;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #252525;
  transform-origin: top;
}